
<ul>
  <li><a class="link" [routerLink]="['/taskManagement/manager/add-project']" >Add Project</a></li>
  <a class="link" (click)="logOut()" >Log-out</a>
  <li><a class="link" [routerLink]="['/taskManagement/manager/manage-reports']">Manage Reports</a></li>
  <li>
     <a class="link"> Manage Workers</a>
    <ul>
      <li><a class="link" [routerLink]="['/taskManagement/manager/manage-users/add-worker']">Add Worker</a></li>
      <li><a class="link" [routerLink]="['/taskManagement/manager/manage-users/set-permission']">Set Permission</a></li>
      <li><a class="link" [routerLink]="['/taskManagement/manager/manage-users/edit-worker']" >Edit Worker</a></li>
    </ul>
  </li>
  <li><a class="link" [routerLink]="['/taskManagement/manager/manage-team']">Manage Team</a></li>
 
</ul>
<router-outlet></router-outlet>
