<div class="form-wrapper">
    <h1>Choose new password</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submitNewPassword()">
        <div class="form-item">
            <label for="workerName"></label>
            <input type="text" formControlName="workerName" placeholder="worker name" />
          </div>
      <div class="form-item">
        <label for="password"></label>
        <input type="password" formControlName="password" placeholder="Password" />
      </div>
      <div *ngIf="formGroup.controls['password'].errors">
        <p *ngFor="let err of obj.values(formGroup.controls['password'].errors)">{{err}}</p>
      </div>
      <div class="form-item">
        <label for="confirmPassword"></label>
        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
        <div *ngIf="formGroup.controls['confirmPassword'].errors">
          <p *ngFor="let err of obj.values(formGroup.controls['confirmPassword'].errors)">{{err}}</p>
        </div>
      </div>
      <div class="button-panel">
        <input type="submit" class="button" value="OK" [disabled]="formGroup.invalid" />
      </div>
    </form>
    <div class="form-footer">
  
    </div>
  </div>